@keyframes slideFromLeft {
    from {  
        right: 20%;
        opacity: 0;
    }
}

@keyframes slideFromLeftMobile {
    from {  
        right: 10%;
        opacity: 0;
    }
}

@keyframes fadeIn {
    100% {
        opacity: 1;
    }
}