@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap");
@-webkit-keyframes slideFromLeft {
  100% {
    right: 10%;
    opacity: 100%;
  }
}
@keyframes slideFromLeft {
  100% {
    right: 10%;
    opacity: 100%;
  }
}

@-webkit-keyframes slideFromLeftMobile {
  100% {
    right: -2%;
    opacity: 100%;
  }
}

@keyframes slideFromLeftMobile {
  100% {
    right: -2%;
    opacity: 100%;
  }
}

@-webkit-keyframes fadeIn {
  100% {
    opacity: 100%;
  }
}

@keyframes fadeIn {
  100% {
    opacity: 100%;
  }
}

.projects-container-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ff5470;
  margin-top: 10px;
}

@media screen and (max-width: 500px) {
  .projects-container-header {
    margin-top: 20px;
  }
}

@media screen and (max-width: 1000px) {
  .projects-container-header h1 {
    font-size: 25px;
  }
}

@media screen and (max-width: 800px) {
  .projects-container-header h1 {
    font-size: 20px;
  }
}

@media screen and (max-width: 800px) {
  .projects-container-header h1 {
    font-size: 15px;
  }
}

.projects-container-header .search-box {
  margin-top: 15px;
  margin-left: 60px;
  height: 35px;
}

@media screen and (max-width: 1000px) {
  .projects-container-header .search-box {
    margin-top: 5px;
  }
}

@media screen and (max-width: 800px) {
  .projects-container-header .search-box {
    margin-top: initial;
    margin-left: 30px;
  }
}

@media screen and (max-width: 500px) {
  .projects-container-header .search-box {
    margin-top: -3px;
  }
}

.projects-container-header .search-box .search-icon {
  margin-right: 10px;
  color: black;
}

@media screen and (max-width: 1000px) {
  .projects-container-header .search-box .search-icon {
    width: 12px;
  }
}

@media screen and (max-width: 500px) {
  .projects-container-header .search-box .search-icon {
    width: 9px;
  }
}

.projects-container-header .search-box #search-projects {
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  -webkit-transition: border-color 400ms;
  transition: border-color 400ms;
}

@media screen and (max-width: 1000px) {
  .projects-container-header .search-box #search-projects {
    font-size: 10px;
  }
}

.projects-container-header .search-box #search-projects:focus {
  border-color: #ff5470;
}

.projects-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
}

@media screen and (max-width: 500px) {
  .projects-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: -10px;
  }
}

.projects-list .project {
  max-width: 25%;
  margin: 20px;
  border: 1px solid #4b4b4b;
  padding: 10px 30px;
  -webkit-box-shadow: 4px 4px 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 4px 4px 3px 0 rgba(0, 0, 0, 0.2);
  background-color: #fbfcfd;
  -webkit-transition: max-height 1.5s ease-out, -webkit-transform 400ms;
  transition: max-height 1.5s ease-out, -webkit-transform 400ms;
  transition: transform 400ms, max-height 1.5s ease-out;
  transition: transform 400ms, max-height 1.5s ease-out, -webkit-transform 400ms;
  max-height: 215.1px;
  overflow: hidden;
}

@media screen and (max-width: 1400px) {
  .projects-list .project {
    max-height: 200px;
  }
}

@media screen and (max-width: 1200px) {
  .projects-list .project {
    max-height: 165px;
  }
}

@media screen and (max-width: 970px) {
  .projects-list .project {
    max-height: 145px;
  }
}

@media screen and (max-width: 820px) {
  .projects-list .project {
    max-height: 120px;
  }
}

@media screen and (max-width: 660px) {
  .projects-list .project {
    max-height: 100px;
  }
}

@media screen and (max-width: 500px) {
  .projects-list .project {
    max-width: 100%;
    max-height: 215px;
    margin: 35px;
  }
}

@media screen and (max-width: 450px) {
  .projects-list .project {
    max-height: 165px;
  }
}

@media screen and (max-width: 350px) {
  .projects-list .project {
    max-height: 145px;
  }
}

.projects-list .project:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  max-height: 1000px;
}

.projects-list .project .project-info {
  margin-top: 30px;
  border-top: 1px solid #4b4b4b;
}

.projects-list .project .project-info .live-link {
  color: #57a8ff;
}

.projects-list .project .project-info .github-link {
  color: #57a8ff;
  margin-left: 10px;
}

.projects-list .project h3 {
  border-bottom: 1px #383838 solid;
  cursor: default;
}

@media screen and (max-width: 800px) {
  .projects-list .project h3 {
    font-size: 20px;
  }
}

@media screen and (max-width: 650px) {
  .projects-list .project h3 {
    font-size: 15px;
  }
}

.projects-list .project .project-thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 30px;
}

@media screen and (max-width: 500px) {
  .nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.nav .nav-item {
  color: #007bff;
}

@media screen and (max-width: 1000px) {
  .nav .nav-item .nav-link {
    font-size: 25px;
  }
}

@media screen and (max-width: 700px) {
  .nav .nav-item .nav-link {
    font-size: 20px;
  }
}

@media screen and (max-width: 500px) {
  .nav .nav-item .nav-link {
    margin-top: 5px;
  }
}

@media screen and (max-width: 500px) {
  .nav .link-seperator {
    content: '';
    background: #007bff;
    width: 2px;
    height: 20px;
    margin-top: 17px;
  }
}

.nav h1 {
  position: absolute;
  left: 0;
  margin: 10px;
  color: #007bff;
  cursor: default;
}

@media screen and (max-width: 1000px) {
  .nav h1 {
    font-size: 25px;
  }
}

@media screen and (max-width: 700px) {
  .nav h1 {
    font-size: 20px;
  }
}

@media screen and (max-width: 500px) {
  .nav h1 {
    display: none;
  }
}

@keyframes slideFromLeft {
  100% {
    right: 10%;
    opacity: 100%;
  }
}

@keyframes slideFromLeftMobile {
  100% {
    right: -2%;
    opacity: 100%;
  }
}

@keyframes fadeIn {
  100% {
    opacity: 100%;
  }
}

.intro-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 400px;
}

@media screen and (max-width: 700px) {
  .intro-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.intro-container:after {
  content: '';
  height: 2px;
  width: 80%;
  background: #ff5470;
  position: absolute;
  top: 390px;
}

.intro-container .intro {
  border: #ff5470 5px solid;
  border-radius: 2px;
  padding: 45px;
  right: 20%;
  opacity: 0;
  text-align: center;
  position: relative;
  -webkit-animation-name: slideFromLeft;
          animation-name: slideFromLeft;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@media screen and (max-width: 700px) {
  .intro-container .intro {
    width: 200px;
    overflow-wrap: break-word;
    right: 10%;
    padding: 20px;
    border-width: 2px;
    -webkit-animation-name: slideFromLeftMobile;
            animation-name: slideFromLeftMobile;
    margin-bottom: 50px;
  }
}

.intro-container .intro h1 {
  font-size: 50px;
}

@media screen and (max-width: 1000px) {
  .intro-container .intro h1 {
    font-size: 25px;
  }
}

@media screen and (max-width: 800px) {
  .intro-container .intro h1 {
    font-size: 20px;
  }
}

@media screen and (max-width: 700px) {
  .intro-container .intro h1 {
    font-size: 25px;
  }
}

.intro-container .intro p {
  font-size: 20px;
  font-weight: lighter;
}

@media screen and (max-width: 1000px) {
  .intro-container .intro p {
    font-size: 15px;
  }
}

@media screen and (max-width: 800px) {
  .intro-container .intro p {
    font-size: 10px;
  }
}

.intro-container .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 15%;
  opacity: 0%;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

@media screen and (max-width: 700px) {
  .intro-container .contact {
    position: absolute;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-top: 20px;
    bottom: 20px;
  }
}

.intro-container .contact .github-icon {
  margin: 15px;
  color: black;
}

@media screen and (max-width: 1450px) {
  .intro-container .contact .github-icon {
    font-size: 50px;
  }
}

@media screen and (max-width: 1030px) {
  .intro-container .contact .github-icon {
    font-size: 30px;
  }
}

.intro-container .contact .github-icon:hover {
  color: #3b3b3b;
}

.intro-container .contact .break {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 0;
}

@media screen and (max-width: 700px) {
  .intro-container .contact .break {
    display: none;
  }
}

.intro-container .contact .linkedin-icon {
  margin: 15px;
  color: #0a66c2;
}

@media screen and (max-width: 1450px) {
  .intro-container .contact .linkedin-icon {
    font-size: 50px;
  }
}

@media screen and (max-width: 1030px) {
  .intro-container .contact .linkedin-icon {
    font-size: 30px;
  }
}

.intro-container .contact .email-icon {
  margin: 15px;
  color: #e34133;
}

@media screen and (max-width: 1450px) {
  .intro-container .contact .email-icon {
    font-size: 50px;
  }
}

@media screen and (max-width: 1030px) {
  .intro-container .contact .email-icon {
    font-size: 30px;
  }
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills .skill-cols {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 500px) {
  .skills .skill-cols {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 10px;
  }
}

@media screen and (max-width: 500px) {
  .skills .skill-cols .skill-cat {
    margin-top: 10px;
  }
}

.skills .skill-cols .skill-cat h4 {
  text-align: center;
  font-size: 30px;
  border-bottom: 2px solid black;
}

@media screen and (max-width: 1000px) {
  .skills .skill-cols .skill-cat h4 {
    font-size: 20px;
    text-decoration: underline;
    border-bottom: none;
  }
}

@media screen and (max-width: 500px) {
  .skills .skill-cols .skill-cat h4 {
    font-size: 15px;
  }
}

.skills .skill-cols .skill-cat .list-table {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.skills .skill-cols .skill-cat .list-table p {
  margin: auto;
}

@media screen and (max-width: 1000px) {
  .skills .skill-cols .skill-cat .list-table p {
    font-size: 12px;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Merriweather Sans', sans-serif;
}

body {
  background-color: aliceblue;
  height: 100vh;
}

a:visited {
  color: inherit;
}

a:hover {
  opacity: 90%;
}

a:active {
  color: inherit;
}
/*# sourceMappingURL=App.css.map */