@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap');
@import './Projects/Projects.scss';
@import './Navbar/Navbar.scss';
@import './Home/Home.scss';
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Merriweather Sans', sans-serif;
}

body {
  background-color: aliceblue;
  height: 100vh;
}

a {
  &:visited {
    color: inherit;
  }
  &:hover {
    opacity: 90%;
  }
  &:active {
    color: inherit;
  }
}

.not-found-page {
  display: flex;
  justify-content: center;
  .not-found-message {
    text-align: center;
    margin-top: 10px;
    display: inline-block;
    border: 2px solid #ff5470;
    padding: 15px;
    h1 {
      font-size: 40px;
      @media screen and (max-width: 1000px) {
        font-size: 30px;
      }
      @media screen and (max-width: 1000px) {
        font-size: 20px;
      }
    }
    p {
      font-size: 30px;
      @media screen and (max-width: 1000px) {
        font-size: 20px;
      }
      @media screen and (max-width: 1000px) {
        font-size: 10px;
      }
    }
  }
}
