.projects-container-header {
  display: flex;
  justify-content: center;
  color: #ff5470;
  .search-box {
    margin-top: 15px;
    margin-left: 60px;
    height: 35px;
    .search-icon {
      margin-right: 10px;
      color: black
    }
    #search-projects {
      border-top: none;
      border-left: none;
      border-right: none;
      outline: none;
      transition: border-color 400ms;
      &:focus {
        border-color: #ff5470;
      }
    }
  }
}

.projects-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
  .project {
    max-width: 25%;
    margin: 20px;
    border: 1px solid rgb(75, 75, 75);
    padding: 10px 30px;
    box-shadow: 4px 4px 3px 0 rgba(0, 0, 0, 0.2);
    background-color: rgb(251, 252, 253);
    h3 {
      border-bottom: 1px rgb(56, 56, 56) solid;
      cursor: default;
    }
    .project-thumb {
      display: flex;
    }
  }
}
