@-webkit-keyframes slideFromLeft {
  100% {
    right: 10%;
    opacity: 100%;
  }
}

@keyframes slideFromLeft {
  100% {
    right: 10%;
    opacity: 100%;
  }
}

@-webkit-keyframes slideFromLeftMobile {
  100% {
    right: -2%;
    opacity: 100%;
  }
}

@keyframes slideFromLeftMobile {
  100% {
    right: -2%;
    opacity: 100%;
  }
}

@-webkit-keyframes fadeIn {
  100% {
    opacity: 100%;
  }
}

@keyframes fadeIn {
  100% {
    opacity: 100%;
  }
}

.intro-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 400px;
}

@media screen and (max-width: 700px) {
  .intro-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.intro-container:after {
  content: '';
  height: 2px;
  width: 80%;
  background: #ff5470;
  position: absolute;
  top: 390px;
}

.intro-container .intro {
  border: #ff5470 5px solid;
  border-radius: 2px;
  padding: 45px;
  right: 20%;
  opacity: 0;
  text-align: center;
  position: relative;
  -webkit-animation-name: slideFromLeft;
          animation-name: slideFromLeft;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@media screen and (max-width: 700px) {
  .intro-container .intro {
    width: 200px;
    overflow-wrap: break-word;
    right: 10%;
    padding: 20px;
    border-width: 2px;
    -webkit-animation-name: slideFromLeftMobile;
            animation-name: slideFromLeftMobile;
    margin-bottom: 50px;
  }
}

.intro-container .intro h1 {
  font-size: 50px;
}

@media screen and (max-width: 1000px) {
  .intro-container .intro h1 {
    font-size: 25px;
  }
}

@media screen and (max-width: 800px) {
  .intro-container .intro h1 {
    font-size: 20px;
  }
}

@media screen and (max-width: 700px) {
  .intro-container .intro h1 {
    font-size: 25px;
  }
}

.intro-container .intro p {
  font-size: 20px;
  font-weight: lighter;
}

@media screen and (max-width: 1000px) {
  .intro-container .intro p {
    font-size: 15px;
  }
}

@media screen and (max-width: 800px) {
  .intro-container .intro p {
    font-size: 10px;
  }
}

.intro-container .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 15%;
  opacity: 0%;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

@media screen and (max-width: 700px) {
  .intro-container .contact {
    position: absolute;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-top: 20px;
    bottom: 20px;
  }
}

.intro-container .contact .github-icon {
  margin: 15px;
  color: black;
}

@media screen and (max-width: 1450px) {
  .intro-container .contact .github-icon {
    font-size: 50px;
  }
}

@media screen and (max-width: 1030px) {
  .intro-container .contact .github-icon {
    font-size: 30px;
  }
}

.intro-container .contact .github-icon:hover {
  color: #3b3b3b;
}

.intro-container .contact .break {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 0;
}

@media screen and (max-width: 700px) {
  .intro-container .contact .break {
    display: none;
  }
}

.intro-container .contact .linkedin-icon {
  margin: 15px;
  color: #0a66c2;
}

@media screen and (max-width: 1450px) {
  .intro-container .contact .linkedin-icon {
    font-size: 50px;
  }
}

@media screen and (max-width: 1030px) {
  .intro-container .contact .linkedin-icon {
    font-size: 30px;
  }
}

.intro-container .contact .email-icon {
  margin: 15px;
  color: #e34133;
}

@media screen and (max-width: 1450px) {
  .intro-container .contact .email-icon {
    font-size: 50px;
  }
}

@media screen and (max-width: 1030px) {
  .intro-container .contact .email-icon {
    font-size: 30px;
  }
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills .skill-cols {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 500px) {
  .skills .skill-cols {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 10px;
  }
}

@media screen and (max-width: 500px) {
  .skills .skill-cols .skill-cat {
    margin-top: 10px;
  }
}

.skills .skill-cols .skill-cat h4 {
  text-align: center;
  font-size: 30px;
  border-bottom: 2px solid black;
}

@media screen and (max-width: 1000px) {
  .skills .skill-cols .skill-cat h4 {
    font-size: 20px;
    text-decoration: underline;
    border-bottom: none;
  }
}

@media screen and (max-width: 500px) {
  .skills .skill-cols .skill-cat h4 {
    font-size: 15px;
  }
}

.skills .skill-cols .skill-cat .list-table {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.skills .skill-cols .skill-cat .list-table p {
  margin: auto;
}

@media screen and (max-width: 1000px) {
  .skills .skill-cols .skill-cat .list-table p {
    font-size: 12px;
  }
}
/*# sourceMappingURL=Home.css.map */