@import '../Animations.scss';
.intro-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 400px;
  @media screen and (max-width: 700px) {
    flex-direction: column;
  }
  &:after {
    content: '';
    height: 2px;
    width: 80%;
    background: #ff5470;
    position: absolute;
    top: 390px;
  }
  .intro {
    border: #ff5470 5px solid;
    border-radius: 2px;
    padding: 45px;
    right: 10%;
    opacity: 1;
    text-align: center;
    position: relative;
    animation-name: slideFromLeft;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    @media screen and (max-width: 700px) {
      width: 200px;
      overflow-wrap: break-word;
      right: -2%;
      padding: 20px;
      border-width: 2px;
      animation-name: slideFromLeftMobile;
      margin-bottom: 50px;
    }
    h1 {
      font-size: 50px;
      @media screen and (max-width: 1000px) {
        font-size: 25px;
      }
      @media screen and (max-width: 800px) {
        font-size: 20px;
      }
      @media screen and (max-width: 700px) {
        font-size: 25px;
      }
    }
    p {
      font-size: 20px;
      font-weight: lighter;
      @media screen and (max-width: 1000px) {
        font-size: 15px;
      }
      @media screen and (max-width: 800px) {
        font-size: 10px;
      }
    }
  }
  .contact {
    display: flex;
    justify-content: space-around;
    animation-fill-mode: forwards;
    flex-wrap: wrap;
    width: 15%;
    opacity: 0%;
    animation-name: fadeIn;
    animation-duration: 500ms;
    animation-timing-function: ease-in;
    animation-delay: 500ms;
    @media screen and (max-width: 700px) {
      position: absolute;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: nowrap;
      margin-top: 20px;
      bottom: 20px;
    }
    .github-icon {
      margin: 15px;
      color: black;
      @media screen and (max-width: 1450px) {
        font-size: 50px;
      }
      @media screen and (max-width: 1030px) {
        font-size: 30px;
      }
      &:hover {
        color: rgb(59, 59, 59);
      }
    }
    .break {
      flex-basis: 100%;
      height: 0;
      @media screen and (max-width: 700px) {
        display: none;
      }
    }
    .linkedin-icon {
      margin: 15px;
      color: #0a66c2;
      &:hover {
        color: #07519b;
      }
      @media screen and (max-width: 1450px) {
        font-size: 50px;
      }
      @media screen and (max-width: 1030px) {
        font-size: 30px;
      }
    }
    .email-icon {
      margin: 15px;
      color: #e34133;
      &:hover {
        color: #ac2f23;
      }
      @media screen and (max-width: 1450px) {
        font-size: 50px;
      }
      @media screen and (max-width: 1030px) {
        font-size: 30px;
      }
    }
  }
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  .skill-cols {
    margin: 10px;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    @media screen and (max-width: 500px) {
      flex-direction: column;
      margin-top: 10px;
    }
    .skill-cat {
      @media screen and (max-width: 500px) {
        margin-top: 10px;
      }
      h4 {
        text-align: center;
        font-size: 30px;
        border-bottom: 2px solid black;
        @media screen and (max-width: 1000px) {
          font-size: 20px;
          text-decoration: underline;
          border-bottom: none;
        }
        @media screen and (max-width: 500px) {
          font-size: 15px;
        }
      }
      .list-table {
        display: grid;
        grid-template-columns: 1fr 1fr;
        p {
          margin: auto;
          @media screen and (max-width: 1000px) {
            font-size: 12px;
          }
        }
      }
    }
  }
}
